
svg {
    width: 100% !important;
}

.steamgraph--selected {
    opacity: 1.0;
}

.steamgraph--deselected {
    opacity: 0.5;
}

.axis line {
    stroke: #777;
}

.axis path {
    stroke: black;
}

.axis text {
    fill: black;
}

.inline-bnt {
    display: inline-block;
}

.center {
    display: block;
    margin: 0 auto;
}

.resize-svg {
    width: 100%;
    display: inline-block;
}

.resize-small-svg {
    width: 100%;
    display: inline-block;
}

.row {
    margin-right: 10px!important;
    margin-left: 10px !important;
}
.rectSelected{
    stroke: #3d73a2;
}
svg text {
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}
#centralContentPerformance{
    padding-left: 18px;
    padding-right: 40px;
    margin-top: 50px;
}
  
.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* height: 52%; */ /*aspect ratio*/
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

svg .rect {
    fill: none;
    stroke: none;
    stroke-width: 0px;
}
.area{
    clip-path: url(#clip);
}
.area-tot{
    clip-path: url(#clip);
}
.line-tot{
    clip-path: url(#clip);
}

svg {
font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    /* stroke: steelblue; */
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}
.not-brushed{
    fill:grey!important;
}



/* correlation*/
 #corrmat rect.selected {
    stroke: #000;
    stroke-width: 2px;
  }
  #corrmat .axis .domain {
    display: none;
  }
  #corrmat .axis .tick text.selected {
    font-weight: bold;
    font-size: 1.2em;
    fill: black;
  }
  #corrmat .axis .tick line.selected {
    stroke: black;  
  }
  #corrmat .tip {
    position: absolute;
    font-size: .8em;
    text-align: center;
    text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
  }    

  #legend {
    margin-bottom: 10px;
  }
  #legend text {
    font-size: .8em;
  }





  /* LOADING SPINNING WIDGET */
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 0px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #999;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  .loaded{
      display: none;
  }